@model Shout.Models.Follow

@{
    ViewData["Title"] = "Login";
}

<h1>LOGIN</h1>

<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
    
    <input type="text" id="inputText" class="form-control" placeholder="Pseudo" required="" autofocus="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required="">

    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
    <!-- <a href="#" id="forgot_pswd">mot de passe oublié ?</a> -->
    <hr>
    <p style="text-align:center"> OU  </p>
    <!-- <p>Don't have an account!</p>  -->
    <a class="btn btn-primary btn-block" href="/users/create" id="btn-signup"><i class="fas fa-user-plus"></i> Créer un nouveau compte</a>
</form>